<h1>{{user.profile.firstName}}'s Dashboard</h1>

<p>Here's where you would put something useful. How about your profile info?</p>

    <form action="/dashboard" method = "get">
        <button>Begin Test</button>
    </form>
<form action="/dashboard/SimilarMethod" method = "get">
    <button>Add a Question(s)</button>
</form>
