
<body>

<form action="/EditQuestion"  method="post">

    <label for="Number">
        Number
        <input id="Number" name="Number" value="{{Number}}" />

    </label>
    <label  for="Test">
        Test
        <input id="Test"  name="Test" value="{{Test}}"  />

    </label>
    <label  for="Test_Type">
        Test_Type
        <input id="Test_type"  name="Test_Type" value="{{Test_Type}}"  />

    </label>

    <button type="submit">Search Question</button>


</form>
</body>