<body>



<form action="/dashboard"  method="get">


    <label for="Test_Type">
        Test Type
        <input  id="Test_Type" name="Test_Type" value="{{Test_Type}}" />

    </label>

    <label for="Time_Limit">
        Time Limit for each question
        <input  id="Time_Limit" name="Time_Limit" value="{{Time_Limit}}"  />

    </label>
    <button  type="submit">Start Exam</button>


</form>
</body>
